<div class="w-100 cont-contacts border-top-secondary">
<div class="rkkod-container pt-5 pb-3">
<div class="w-100 d-flex flex-wrap flex-column-reverse flex-md-row">
	<div class="col-12 col-md-6">
		<form class="w-100 form-communication">
		<input type="text" class="form-control w-100 px-4 mb-1" placeholder="ИМЯ" />
		<input type="email" class="form-control w-100 px-4 mb-1" placeholder="ЕМАИЛ"  />
		<textarea class="form-control w-100 px-4 pt-3" id="exampleTextarea" rows="5"  placeholder="ТЕКСТ" ></textarea>
		<div class="d-flex justify-content-end w-100 pt-2"> 
		  <button type="submit" class="btn btn-primary px-4 text-uppercase py-0">Отправить</button>
		</div>
		</form>
	</div>
	<div class="col-12 col-md-6 text-center">
		<h2 class="line-bottom text-uppercase">Есть задачи?</h2>
		<div class="list-contacts d-flex flex-wrap pt-3">
			<div class="col-6 col-sm-3 col-md-4 item-contact address text-center mb-3">
				<div class="icon mb-2"></div>
				<div class="text-uppercase title">Местоположение</div>
				<div class="font-family-roboto sub-title">Симферополь ул. Козлова 14 оф 4</div>
			</div>

			<div class="col-6 col-sm-3 col-md-4 item-contact skype text-center mb-3">
				<div class="icon mb-2"></div>
				<div class="text-uppercase title">Свяжитесь через скайп!</div>
				<div class="font-family-roboto sub-title">RKKOD_orders</div>
			</div>

			<div class="col-6 col-sm-3 col-md-4 item-contact email text-center mb-3">
				<div class="icon mb-2"></div>
				<div class="text-uppercase title">Пишите нам!</div>
				<div class="font-family-roboto sub-title">Rkkod@bk.ru</div>
			</div>

			<div class="col-6 col-sm-3 col-md-4 item-contact time text-center mb-3">
				<div class="icon mb-2"></div>
				<div class="text-uppercase title">Рабочее время!</div>
				<div class="font-family-roboto sub-title">Пн.- Пт. 8:00 - 22:00</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>