<div class="w-100 ">
<div class="rkkod-container py-5 ">
<div class="text-center text-uppercase">
	<h2>Создание сайта</h2>
	<div class="font-family-roboto text-muted sub-text line-bottom">мы обладаем большим опытом в сайтостроение и способны выполнить любую поставленную задачу</div>
</div>
<div class="list-type-sity d-flex justify-content-center py-3">
	<div class="cont-btn">
		<button class="btn btn-outline-secondary my-btn text-uppercase btn-outline-purple px-0 text-center w-100">корпоративный сайт</button>
	</div>
	<div class="cont-btn">
		<button class="btn btn-outline-secondary my-btn text-uppercase btn-outline-purple px-0 text-center w-100">корпоративный сайт</button>
	</div>
	<div class="cont-btn">
		<button class="btn btn-outline-secondary my-btn text-uppercase btn-outline-purple px-0 text-center w-100">корпоративный сайт</button>
	</div>
	<div class="cont-btn">
		<button class="btn btn-outline-secondary my-btn text-uppercase btn-outline-purple px-0 text-center w-100">корпоративный сайт</button>
	</div>
	<div class="cont-btn">
		<button class="btn btn-outline-secondary my-btn text-uppercase btn-outline-purple px-0 text-center w-100">корпоративный сайт</button>
	</div>
</div>
</div>
</div>