<title></title>
<meta charset="utf-8">

<base href="./"></base>
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="shortcut icon" href="./images/favicon_icon.png" type="image/x-icon">

<meta name="viewport" content="width=device-width, initial-scale=1">


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" ></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<!-- Коллекция иконок -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Файлы для подключение слайдера со списком систем управления сайта -->
<script type="text/javascript" src='./js/lightslider.js'></script>
<link rel="stylesheet" type="text/css" href="./dist/lightslider.css">

<!-- Скрипт для переключения слайдов в баннере -->
<script type="text/javascript" src='./js/bannerSlider.js'></script>



<!-- Стили для сайта -->
<link rel="stylesheet" type="text/css" href="./dist/main.css">

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>  
<link href="https://fonts.googleapis.com/css?family=Oswald:300&amp;subset=cyrillic" rel="stylesheet">

