<div class="w-100 header">
<div class="rkkod-container">
<nav class="navbar navbar-expand-lg navbar-dark bg-none ">
  	<a class="navbar-brand " href="#">
     <img src="./images/logo.png" class="logo"> 
    </a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon "></span>
  	</button>


    <!-- меню (начало) -->
  	<div class="collapse navbar-collapse" id="navbar1">
    	<ul class="navbar-nav w-100 justify-content-between">
		    <li class="nav-item">
		    	<a class="nav-link" href="#">Поддержка сайта</a>
		    </li>
    		<li class="nav-item dropdown">
      		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Продвижение сайта</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a class="dropdown-item" href="#">Поддержка сайта</a>
        			<a class="dropdown-item" href="#">Продвижение сайта</a>
      		</div>
    		</li>
        <li class="nav-item">
          <a class="nav-link" href="#">Создание сайта</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Наши работы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Наша команда</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">контакты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link back-call" href="#"><i class="fa fa-mobile fa-lg mr-2" aria-hidden="true"></i> Обратный звонок</a>
        </li>
    	</ul>
  	</div>
    <!-- меню (конец) -->
</nav>
<div class="cont-banner py-4">
  <div class="banner col-10 mx-auto position-relation  text-uppercase d-flex">
    <div class="bg bg-white position-absolute fixed-top h-100"></div>
    <div class="content d-flex w-100">
      <div class="cont-text col-8 align-self-center">
        <div class="my-auto">
          <h1 class="banner-title"></h1>
          <div class="font-family-roboto mb-4 banner-subtitle sub-text"></div>
          <div >
            <a href="#" class='btn btn-banner px-4 py-0 text-uppercase  '>подробнее об акции</a>
          </div>
        </div>
      </div>
      <div class="cont-rocket col-4"></div>
    </div>
  </div>
  <script type="text/javascript">
    // скрипт будет искать элементы (banner, banner-title, banner-subtitle, btn-banner) и потом с ними работать(обновлять информацию в них )
    var script_banner = new BannerSlider({
      urlJsonBanner: './jsonSlider.json' // можно не указывать, по умолчанию стоит './jsonSlider.json'
    });
  </script>
</div>
</div>
</div>