<div class="w-100 our-works">
<div class="rkkod-container py-5 ">
<div class="text-center text-uppercase px-3">
	<h2 class="">Наши работы</h2>
	<div class="font-family-roboto text-muted sub-text line-bottom ">Каждому клиенту мы даем финансовые гарантии качества:</div>
</div>
<div class="w-100 font-family-roboto list-feature d-flex justify-content-center mb-3 flex-wrap">
	<div class="item-feature feature-1 text-center text-uppercase ">
		<div class="icon-feature mb-2"></div>
		<div class="text-feature">надежность</div>
	</div>
	<div class="item-feature feature-2 text-center text-uppercase">
		<div class="icon-feature mb-2"></div>
		<div class="text-feature">качественные консультации</div>
	</div>
	<div class="item-feature feature-3 text-center text-uppercase">
		<div class="icon-feature mb-2"></div>
		<div class="text-feature">команда профессионалов</div>
	</div>
	<div class="item-feature feature-4 text-center text-uppercase">
		<div class="icon-feature mb-2"></div>
		<div class="text-feature">гарантии качества</div>
	</div>
	<div class="item-feature feature-5 text-center text-uppercase">
		<div class="icon-feature mb-2"></div>
		<div class="text-feature">финансовые гарантии</div>
	</div>
	<div class="item-feature feature-6 text-center text-uppercase">
		<div class="icon-feature mb-2"></div>
		<div class="text-feature">современный дизайн</div>
	</div>
	<div class="item-feature feature-7 text-center text-uppercase">
		<div class="icon-feature mb-2"></div>
		<div class="text-feature">регулярные скидки</div>
	</div>
</div>
<div class="list-words d-flex justify-content-center flex-wrap  font-family-roboto  ">
	//=./itemWork.html
	//=./itemWork.html
	//=./itemWork.html
	//=./itemWork.html
	//=./itemWork.html
	//=./itemWork.html
	//=./itemWork.html
	//=./itemWork.html
</div>
<div class="w-100 d-flex">
	<button class="btn btn-outline-secondary my-btn text-uppercase btn-outline-purple px-4 text-center mx-auto">весь список</button>
</div>
</div>
</div>