<div class="w-100 ">
<div class="rkkod-container pt-5 pb-4 ">
<div class="text-center text-uppercase pb-2">
	<div class=" h2">Мы позаботимся о вашем сайте</div>
	<div class="font-family-roboto text-muted sub-text line-bottom">сделаем для вашего сайта то, чего неумеют и не хотят делать другие</div>
</div>
<div class="d-flex flex-wrap pt-3 pb-4 list-services px-2 justify-content-center">
	<div class="col-lg-4 col-sm-6 col-12 px-0 item-services created  mb-3">
		<div class="d-flex mx-auto justify-content-center">
			<div class="cont-icon mt-2"></div>
			<div class="cont-info pl-3 d-flex flex-column">
				<h4 class="text-uppercase">Создание</h4>
				<ul class="item-services-ul " >
					<li>Продающих легдингов</li>
					<li>Интернет магазин</li>
					<li>Индивидуальный скрипты</li>
				</ul>
				<div class="mt-auto"><a href="#" class="my-btn btn text-uppercase px-4">узнать дольше</a></div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-sm-6 col-12 px-0 item-services seo mb-3">
		<div class="d-flex mx-auto justify-content-center">
			<div class="cont-icon mt-2"></div>
			<div class="cont-info pl-3 d-flex flex-column">
				<h4 class="text-uppercase 	">Продвижение</h4>
				<ul class="item-services-ul " >
					<li>SEO-консультация</li>
					<li>Отраслевые кейсы</li>
					<li>Перенос оптимизации</li>
				</ul>
				<div class="mt-auto"><a href="#" class="my-btn btn text-uppercase px-4">узнать дольше</a></div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-sm-6 col-12 px-0 item-services support  mb-3">
		<div class="d-flex mx-auto justify-content-center">
			<div class="cont-icon mt-2"></div>
			<div class="cont-info pl-3 d-flex flex-column">
				<h4 class="text-uppercase ">Поддержка</h4>
				<ul class="item-services-ul " >
					<li>Доработка интернет-магазина</li>
					<li>Устронение проблем</li>
					<li>Поддержка</li>
					<li>Консультация специалиста</li>
				</ul>
				<div class="mt-auto"><a href="#" class="my-btn btn text-uppercase px-4">узнать дольше</a></div>
			</div>
		</div>
	</div>
</div>
<div class="text-center text-uppercase pb-2 pt-4 mt-3">
	<div class="h2">Стоимость поддержки сайта в месяц</div>
	<div class="font-family-roboto text-muted sub-text line-bottom">сэкономьте до 30%, выберите подходящий тарифный план</div>
</div>

</div>
</div>