<div class="w-100 cont-tariffs">
	<div class="rkkod-container py-3 pb-4 ">
		<div class="d-flex flex-wrap px-3 mb-3 justify-content-center">
			<div class="col-lg-4 px-2 col-md-6 col-sm-8 col-11 mb-4">
				<!-- класс "basic" указывает какую картинку показывать этого тарифа-->
				<div class='w-100 bg-white item-tariffs basic py-4 px-3'>
					<div class="tariff-header d-flex mb-4">
						<div class="icon-tariff"></div>
						<div class="text-uppercase pl-3">
							<h3 >Базовый</h3>
							<div> 4 500 руб/мес</div>
						</div>
					</div>
					//=./tariff_body.html
					<div class="tariff-footer text-center">
						<button class="btn btn-success text-uppercase px-5">Выбрать</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4 px-2 col-md-6 col-sm-8 col-11 mb-4">
				<!-- класс "main" указывает какую картинку показывать этого тарифа-->
				<div class='w-100 bg-white item-tariffs main py-4 px-3'>
					<div class="tariff-header d-flex mb-4">
						<div class="icon-tariff"></div>
						<div class="text-uppercase pl-3">
							<h3 >Оптимальный</h3>
							<div>9 990 руб/мес</div>
						</div>
					</div>
					//=./tariff_body.html
					<div class="tariff-footer text-center">
						<button class="btn btn-warning text-uppercase text-white px-5">Выбрать</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4 px-2 col-md-6 col-sm-8 col-11 mb-4">
				<!-- класс "premium" указывает какую картинку показывать этого тарифа-->
				<div class='w-100 bg-white item-tariffs premium py-4 px-3'>
					<div class="tariff-header d-flex mb-4">
						<div class="icon-tariff"></div>
						<div class="text-uppercase pl-3">
							<h3 >Премиум</h3>
							<div>19 990 руб/мес</div>
						</div>
					</div>
					//=./tariff_body.html
					<div class="tariff-footer text-center">
						<button class="btn btn-danger text-uppercase px-5">Выбрать</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>