<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>

	<!-- все файлы, которые надо подключать -->
	//=./path/head.html
</head>
<body class="">


<!-- Меню и баннет (начало) -->
//=./path/nav.html
<!-- Меню и баннет (конец) -->


<!-- МЫ ПОЗАБОТИМСЯ О ВАШЕМ САЙТЕ (начало) -->
//=./path/services.html
<!-- МЫ ПОЗАБОТИМСЯ О ВАШЕМ САЙТЕ (конец) -->


<!-- Список тарифов (начало) -->
//=./path/tariffs.html
<!-- Список тарифов (конец) -->


<!-- ПОДДЕРЖКА ЛЮБЫХ СИСТЕМ УПРАВЛЕНИЯ (начало) -->
//=./path/CMS.html
<!-- ПОДДЕРЖКА ЛЮБЫХ СИСТЕМ УПРАВЛЕНИЯ (конец) -->


<!-- СОЗДАНИЕ САЙТА с кнопками (начало) -->
//=./path/createSite.html
<!-- СОЗДАНИЕ САЙТА с кнопками (конец) -->


<!-- Наши работы (начало) -->
//=./path/ourWorks.html
<!-- Наши работы (конец) -->


<!-- Форма связи (начало) -->
//=./path/contacts.html
<!-- Форма связи (конец) -->
</body>
</html>